<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema Gas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

    <link rel="stylesheet" th:href="@{/assets/adminlte/plugins/fontawesome-free/css/all.min.css}">

    <link rel="stylesheet" th:href="@{/assets/adminlte/plugins/bootstrap/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/assets/adminlte/dist/css/adminlte.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/estilos.css}">

    <script th:src="@{/assets/adminlte/plugins/jquery/jquery.min.js}"></script>
    
    <script th:src="@{/assets/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    
    <script th:src="@{/assets/adminlte/dist/js/adminlte.min.js}"></script>
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <div th:replace="components/header :: header"></div>

    <div th:replace="components/sidebar :: sidebar"></div>

    <div class="content-wrapper p-3">
        <div th:replace="~{${contenido} :: content}"></div>
    </div>

    <div th:replace="components/footer :: footer"></div>

</div>
</body>
</html>